<div class="content-box">
<!--    <button color="primary" (click)="retrieveSnaps()" mat-flat-button>Get Snaps</button>-->

    <p>Test</p>

    <ul *ngFor="let snap of snaps">
        <li class="snap-item" *ngIf="username !== snap.username" [ngClass]="snap.seenBy.indexOf(username) > -1 ? 'viewed' : ''">
            <div>
                <small>{{ snap.time }}</small>
            </div>
            <div>
                Snap from <strong>{{ snap.username }}</strong>
            </div>
            <div *ngIf="snap.seenBy.length">
                <small>Viewed by <strong>{{ snap.seenBy.join(', ') }}</strong></small>
            </div>
            <div>
                <img *ngIf="snap['show']" src="{{snap.imageUrl}}">
            </div>
            <div class="time-left" *ngIf="snap['show']">
                <p>Time left: <strong>{{ timeLeft / 1000 }}</strong></p>
            </div>
            <button class="view-snap-btn" *ngIf="snap.seenBy.indexOf(username) === -1" (click)="viewSnap(snap)" color="primary" mat-flat-button>
                View
            </button>
        </li>

        <li class="snap-item by-you" *ngIf="username === snap.username">
            <div>
                <small>{{ snap.time }}</small>
            </div>
            <div>
                Snap by <strong>You</strong>
            </div>
        </li>
    </ul>
</div>
