<div class="app-container">
  <h1>SnapGroup</h1>

  <div *ngIf="!loggedIn" class="content-box">
    <p>Enter your username to login to SnapGroup.</p>
    <p>Once you've logged in, you will be able to send and receive snaps from your friends!</p>
    <hr>
    <div class="login-form">
      <label>Username</label>
      <input type="text" #usernameField />
      <button color="primary" (click)="setUsername(usernameField.value)" mat-flat-button>Login</button>
    </div>
  </div>

  <div *ngIf="loggedIn" class="content-box">
    <h3>Logged in as <strong>{{username}}</strong>!</h3>
    <button color="primary" class="home-btn" routerLink="/" mat-flat-button>Home</button>
    <button color="accent" class="logout-btn" (click)="logout()" mat-flat-button>Logout</button>

    <router-outlet></router-outlet>
  </div>


</div>
